<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Properties>
        <Property name="basePath">J:\jav\campApi\logs</Property>
    </Properties>

    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t]
      %highlight{%level}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue} - %msg%n" />
        </Console>


        <RollingFile name="fileLogger" fileName="${basePath}/app-info.log" filePattern="${basePath}/app-info-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>

        <JDBC name="MySQLDatabase" tableName="APP_LOGS">
            <ConnectionFactory
                    class="com.camp.campApi.logging.Log4jConnectionFactory" method="getDatabaseConnection" />
            <Column name="LOG_ID" pattern="%u" />
            <Column name="ENTRY_DATE" isEventTimestamp="true" />
            <Column name="LOGGER" pattern="%logger" />
            <Column name="LOG_LEVEL" pattern="%level" />
            <Column name="MESSAGE" pattern="%m" />
            <Column name="EXCEPTION" pattern="%throwable " />
        </JDBC>


    </Appenders>
    <Loggers>
        <Logger name="com.campApi.console" level="info" additivity="false">
            <appender-ref ref="Console" level="info" />

        </Logger>
        <Logger name="com.campApi.jdbc" level="warn" additivity="false">

            <appender-ref ref="MySQLDatabase" level="warn" />
        </Logger>
        <Logger name="com.campApi.file" level="error" additivity="false">
            <appender-ref ref="fileLogger" level="warn" />

        </Logger>

        <Root level="info" >
            <appender-ref ref="Console"  level="info"/>
            <appender-ref ref="MySQLDatabase" level="warn" />
            <appender-ref ref="fileLogger" />
        </Root>


    </Loggers>
</Configuration>