<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MMM-dd hh:mm:ss a } %level %c - %m %n" />
        </Console>

        <File name="MyFile" fileName="logging/app.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>

        <JDBC name="MySQLDatabase" tableName="APP_LOGS">
            <ConnectionFactory
                    class="com.camp.campApi.logging.ConnectionFactory" method="getConnection" />
            <Column name="LOG_ID" pattern="%u" />
            <Column name="ENTRY_DATE" isEventTimestamp="true" />
            <Column name="LOGGER" pattern="%logger" />
            <Column name="LOG_LEVEL" pattern="%level" />
            <Column name="MESSAGE" pattern="%m" />
            <Column name="EXCEPTION" pattern="%throwable " />
        </JDBC>
    </Appenders>

    <Loggers>
        <Root level="warn">
            <AppenderRef ref="Console" />
            <AppenderRef ref="MySQLDatabase" />
        </Root>
    </Loggers>

</Configuration>